{
  "presets": ["react-app"],
  "plugins": [
    [
      "styled-components"
    ],
    [
      "root-import",
      {
        "rootPathPrefix": "@",
        "rootPathSuffix": "src"
      }
    ]
  ]
}